<div class="carousel slide" id="carousel-176135">
	<ol class="carousel-indicators">
		<li class="active" data-slide-to="0" data-target="#carousel-176135">
		</li>
		<li data-slide-to="1" data-target="#carousel-176135">
		</li>
		<li data-slide-to="2" data-target="#carousel-176135">
		</li>
		<li data-slide-to="3" data-target="#carousel-176135">
		</li>
	</ol>
	<div class="carousel-inner">
			<div class="item active">
				<img alt="Carousel Bootstrap First" src="https://fb-s-b-a.akamaihd.net/h-ak-xlp1/v/t31.0-8/16487015_1893095897590301_6957700329401675794_o.jpg?oh=6432cd42251b73c5dec1c0642c25de27&oe=5948E5A6&__gda__=1494226710_ed6a328701ef4ae23717a5be746bf496" />
	      <div class="carousel-caption">
				</div>
			</div>
			<div class="item">
			<img alt="Carousel Bootstrap Second" src="assets/images/lion.jpg"/>
			<div class="carousel-caption">
				<h3>
					<i>
            Diseños
          </i>
        </h3>
				<p>
					<i>
            Diseños personalizados
					</i>
				</p>
			</div>
		</div>
		<div class="item">
			<img alt="Carousel Bootstrap Third" src="assets/images/printer.jpg" />
      <div class="carousel-caption">
				<h3>
					<i>
            Impresion de papeles
          </i>
				</h3>
				<p>
				</p>
			</div>
		</div>
		<div class="item">
			<img alt="Carousel Bootstrap Four" src="assets/images/tshirt.jpg" />
			<div class="carousel-caption">
				<h3>
					<i>
            Crea lo que quieres
          </i>
        </h3>
			</div>
		</div>
	</div>
  <a class="left carousel-control" href="#carousel-176135" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-176135" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right">
    </span>
  </a>
</div>
