<div class="carousel slide" id="carousel-176135">
	<ol class="carousel-indicators">
		<li class="active" data-slide-to="0" data-target="#carousel-176135">
		</li>
		<li data-slide-to="1" data-target="#carousel-176135">
		</li>
		<li data-slide-to="2" data-target="#carousel-176135">
		</li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img alt="Carousel Bootstrap First" src="assets/images/lion.jpg"/>
			<div class="carousel-caption">
				<h3>
					<i>
            Diseños
          </i>
        </h3>
				<p>
					<i>
            Diseños personalizados
					</i>
				</p>
			</div>
		</div>
		<div class="item">
			<img alt="Carousel Bootstrap Second" src="assets/images/printer.jpg" />
      <div class="carousel-caption">
				<h3>
					<i>
            Impresion de papeles
          </i>
				</h3>
				<p>
				</p>
			</div>
		</div>
		<div class="item">
			<img alt="Carousel Bootstrap Third" src="assets/images/tshirt.jpg" />
			<div class="carousel-caption">
				<h3>
					<i>
            Crea lo que quieres
          </i>
        </h3>
			</div>
		</div>
	</div>
  <a class="left carousel-control" href="#carousel-176135" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-176135" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right">
    </span>
  </a>
</div>
