<nav class="navbar navbar-inverse navbar-bottom" id="footer">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <nav class="navbar-brand">
        &copy; 2016 Sublimaciones Once &middot;
      </nav>
      <nav class=" navbar-brand">
        <a  href="http://www.facebook.com" class="btn btn-social-icon btn-sm btn-facebook">
          {{fa-icon "facebook" size=6}}
        </a>
      </nav>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">

      <ul class="nav navbar-nav navbar-right">
        <li class="pull-right"><a href="#">Volver Arriba</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
