<nav class="navbar navbar-inverse navbar-bottom" id="footer">
  <div class="container-fluid">
    <div class="navbar-header">
      <nav class="navbar-brand">
        &copy; 2016 Sublimaciones Once &middot;
      </nav>
      <nav class=" navbar-brand">
        <a  href="https://www.facebook.com/SublimacionOnce/" class="btn btn-social-icon btn-sm btn-facebook">
          {{fa-icon "facebook" size=6}}
        </a>
      </nav>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">

      <ul class="nav navbar-nav navbar-right">
        <li class="pull-right"><a href="#">Volver Arriba</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
