<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4" id="service-item">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Diseños</h2>
    <p>Diseños personalizados</p>
    <p>{{#link-to 'design'   tagName="button" class="btn btn-default"}} Mas Detalles &raquo;{{/link-to}}</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4" id="service-item">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Consejos</h2>
    <p>Consejos a la hora de hacer un pedido</p>
    <p>{{#link-to 'advice'   tagName="button" class="btn btn-default"}} Mas Detalles &raquo;{{/link-to}}</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4" id="service-item">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Servicios</h2>
    <p>Lista de servicios que podes encontrar en nuestra Empresa</p>
    <p>{{#link-to 'service'   tagName="button" class="btn btn-default"}} Mas Detalles &raquo;{{/link-to}}</p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
