<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4" id="service-item">
    <img class="img-circle" src="https://fb-s-d-a.akamaihd.net/h-ak-xpl1/v/t1.0-9/16425988_1893363547563536_320869346576456916_n.jpg?oh=6746d83198ef2d7dce81969a8f4304d5&oe=592534FB&__gda__=1496130548_c2a2e176b0a186d2245da611591a5a48"  width="140" height="140">
    <h2>Diseños</h2>
    <p>Diseños personalizados</p>
    <p>{{#link-to 'design'   tagName="button" class="btn btn-default"}} Mas Detalles &raquo;{{/link-to}}</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4" id="service-item">
    <img class="img-circle" src="https://fb-s-c-a.akamaihd.net/h-ak-xpa1/v/t31.0-8/16664947_1896212127278678_1140434029609157118_o.jpg?oh=fddd375bf664b2d4508659c8a5fe6172&oe=5934D235&__gda__=1496802765_7c9f49f38182dc93907c57a2a37d05b1" width="140" height="140">
    <h2>Consejos</h2>
    <p>Consejos a la hora de hacer un pedido</p>
    <p>{{#link-to 'advice'   tagName="button" class="btn btn-default"}} Mas Detalles &raquo;{{/link-to}}</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4" id="service-item">
    <img class="img-circle" src="https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-0/c78.0.200.200/p200x200/16830810_1902748633291694_1412623611200241456_n.jpg?oh=ab9d41e05db1d0b557005ad2c7709914&oe=5927BE42" width="140" height="140">
    <h2>Servicios</h2>
    <p>Lista de servicios que podes encontrar en nuestra Empresa</p>
    <p>{{#link-to 'service'   tagName="button" class="btn btn-default"}} Mas Detalles &raquo;{{/link-to}}</p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
