@import "bootstrap";
@import "colors";
@import "carousel";
@import "service-items";
@import "footer";
@import "admin";
@import "bootstrap-social";
body
{
  background-color: $black;
  padding-top: 70px;
}
h1{
  color: $white;
}
