@import "bootstrap";
@import "colors";
@import "carousel";
@import "service-items";
@import "footer";
@import "admin";
@import "bootstrap-social";
@import "font-awesome";
body
{
  background-color: $black;
  padding-top: 70px;
}
h1{
  color: $white;
}
h4{
  color: $white;
}
h2
{
  color: $white;
}
h3
{
  color: $white;
}
p
{
  color: $white;
}
#strong-red
{
  color : red;
}
#plancha-item
{
  color: $white;
}
#image-format-line
{
  color: $white;
}
