#service-item{
  text-align: center;
  color: $white;
  border: tranparent;
  background: transparent;
}
#filter-message{
  color: $white;
}
#table-content{
  color: $black;
}
#contact-header{
  color: $white;
}
#contact-message{
  color: $white;
}
