<h1>Consejos</h1>
<hr class="featurette-divider">
<h2>¿Como llevo mis archivos para imprimir?</h2>
<h3>Traelos en un pendrive, CD, celular, ó envianos la imagen por correo.</h3>
<h3>Las imagenes deben estar <strong id="strong-red">SIN ESPEJAR</strong></h3>
<h3>En 110 cm de ancho y el largo que necesites, en pliegos no mayores de 220 cm</h3>
<h3>Formatos de imagen:</h3>
<h3>
  <ol style="margin-left: 2.5em" type="1">
    <li id="image-format-line">Ilustrator</li>
    <li id="image-format-line">Corel</li>
    <li id="image-format-line">PDF</li>
    <li id="image-format-line">JPG</li>
  </ol>
</h3>
<hr class="featurette-divider">
<h2>¿Si no tengo el archivo?</h2>
<h3>Podes traer imagenes sueltas ( incluyendo un dibujo en un papel ) te ayudamos y juntos armamos el archivo.</h3>
<h3><strong id="strong-red">Esto es considerado diseño y tiene un cargo adicional</strong></h3>
<hr class="featurette-divider">
<h2>¿Cuanto demoran los trabajos?</h2>
<h3>Los trabajos generalmente se entregan en el dia</h3>
{{outlet}}
