<!--<h1>Dise単os</h1>
<hr class="featurette-divider">
-->
<div class="container-fluid">
  <h1 class="page-header">Dise単os</h1>
  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="https://scontent-gru2-1.xx.fbcdn.net/v/t31.0-8/16825843_1904551719778052_3686614709413368850_o.jpg?oh=e1d28bab323035c8f27223c8513c95f1&oe=59727143" width="200" height="200" class="img-responsive">
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-0/c78.0.200.200/p200x200/16830810_1902748633291694_1412623611200241456_n.jpg?oh=ab9d41e05db1d0b557005ad2c7709914&oe=5927BE42" width="200" height="200" class="img-responsive" >
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-0/c78.0.200.200/p200x200/16388399_1893872497512641_6901561994399478436_n.jpg?oh=d82d212529b98a3b07b52059ab07f8aa&oe=59418FEE" width="200" height="200" class="img-responsive" >
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-9/16508037_1896212250611999_1329687486245591049_n.jpg?oh=625a2a4f7ae00e2e7d05801086bb73bb&oe=593831B0" width="200" height="100" class="img-responsive" >
    </div>
  </div>
  <h2 class="sub-header">
    Para ver todos nuestos dise単os hace <a href="https://www.facebook.com/pg/SublimacionOnce/photos/?ref=page_internal">click aqui</a>
  </h2>
  <hr class="featurette-divider">
  <h2 class="sub-header">
    Buscamos imagenes en internet ,Acomodamos ,ajustamos tama単os, Retocamos , Preparamos archivos
  </h2>
</div>
{{outlet}}
