<h1>Nuestros servicios y productos</h1>
<hr class="featurette-divider">
<h4>Impresión digital para sublimación con <strong id="strong-red">PLOTTER EPSON F6070</strong></h4>
<h4>Único PLOTTER diseñado exclusivamente para sublimación con tintas originales EPSON</h4>
<h4>Tecnología de punta para brindar el mejor servicio a nuestros clientes</h4>
<h4>Con los programas <strong id="strong-red">SOFT RIP DE WASATCH</strong> podemos realizar impresiones con una calidad superior de color y diseño que otras empresas</h4>
<h4>Tintas originales que brindan colores mas intensos sin detalles o defectos, <strong id="strong-red">el Negro es Negro no gris oscuro</strong></h4>
<h4>Papel importado premium de 80 y 100 gr, ancho de 112 cm.</h4>
<h4>SI NO TENES ARCHIVO: podes traer imagenes sueltas ( incluyendo un dibujo en un papel ) te ayudamos y juntos armamos el archivo.</h4>
<h4>Los trabajos generalmente se entregan en el día</h4>
<h4>Cortes de vinilo en plotter de corte</h4>
<h4>Realizamos servicio de planchas para sublimar de 100x70 cm</h4>
<h4>Para la bajada de plancha tenes las siguientes opciones</h4>
<ol style="margin-left: 2.5em" type="A">
  <li id="plancha-item">Traer tus prendas armadas y/o los cortes.</li>
  <li id="plancha-item">Traer la tela y nosotros realizamos el corte.</li>
  <li id="plancha-item">Nosotros pongamos la tela ( al mejor precio y calidad de Once )</li>
  <li id="plancha-item">Que realicemos el trabajo completo: Hacemos tu diseño, Imprimimos los papeles, cortamos la tela, sublimamos, armamos la prenda y vos te llevas el producto terminado.</li>
</ol>
<h4><strong id="strong-red">Estamos a 1 cuadra de la estación Pasteur de la linea B de subte</strong></h4>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.0366232848837!2d-58.4007435322343!3d-34.603235410238405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaeb57b13e6d%3A0xc7ce0f84768e75ff!2sLavalle+2331%2C+C1052AAA+CABA!5e0!3m2!1ses-419!2sar!4v1488119789012" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<hr class="featurette-divider">
<h2 class="sub-header">
  Para mas información sobre nuestros productos  <a href="http://articulo.mercadolibre.com.ar/MLA-653755269-en-once-impresion-ysublimacion-plotter-epson-f6070-ancho-110-_JM">click aqui.</a>
</h2>
{{outlet}}
